.pagination-container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 20px;
    padding-left: 20px;
    min-height: 50px;
  }
  
  .pagination {
    display: flex;
    align-items: center;
    padding: 0 150px; 
    gap: 0.5rem;
  }
  
  .pagination button {
    background-color: #007BFF;
    border: 1px solid #007BFF; 
    color: #fff; 
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    margin: 0 5px; 
  }
  
  .pagination button.active {
    background-color: #fff;
    color: #007BFF;
    border: 1px solid #007BFF; 
  }
  
  .pagination button:disabled {
    background-color: #ccc; 
    border: 1px solid #ccc; 
    color: #666; 
    cursor: not-allowed;
  }
  
  @media (max-width: 768px) {
    .pagination-container {
      flex-direction: column;
      align-self: center;
      width: 100%;
    }
    .delete-selected {
      margin-right: 0; 
      align-self: center;
    }
    .pagination {
      padding: 0;
      margin-top: 10px;
      align-self: center;
    }
    .pagination button {
      width: 40px;
      height: 40px;
      font-size: 16px;
    }

  }

  @media (max-width: 450px) {
    .pagination button {
      width: 25px;
      height:25px;
      font-size: 8px;
    }

  }