/*
.pagination {
    text-align: center;
    margin-top: 20px;
  }
  
  .pagination button {
    background-color: #007BFF; 
    border: 1px solid #007BFF; 
    color: #fff;
    border-radius: 50%; 
    width: 40px;
    height: 40px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
  }
  
  .pagination button.active {
    background-color: #fff; 
    color: #007BFF; 
    border: 1px solid #007BFF; 
  }
  
  .pagination button:disabled {
    background-color: #ccc; 
    border: 1px solid #ccc; 
    color: #666; 
    cursor: not-allowed;
  } */

  /* pagination.css */

.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Add space between the "Delete Selected" button and pagination */
    padding-left: 20px;
    min-height: 50px;
  }
  
  /* .delete-selected {
    margin-right: 1px; /* Add space to the right of the "Delete Selected" button 
  } */
  
  .pagination {
    display: flex;
    align-items: center;
    padding: 0 100px; 
  }
  
  .pagination button {
    background-color: #007BFF; /* Blue background color */
    border: 1px solid #007BFF; /* Blue border */
    color: #fff; /* White text color */
    border-radius: 50%; /* Round buttons */
    width: 30px;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    margin: 0 5px; /* Add space between pagination buttons */
  }
  
  .pagination button.active {
    background-color: #fff; /* White background color for the active button */
    color: #007BFF; /* Blue text color for the active button */
    border: 1px solid #007BFF; /* Blue border for the active button */
  }
  
  .pagination button:disabled {
    background-color: #ccc; /* Gray background color for disabled buttons */
    border: 1px solid #ccc; /* Gray border for disabled buttons */
    color: #666; /* Dark gray text color for disabled buttons */
    cursor: not-allowed;
  }
  
  @media (max-width: 768px) {
    .pagination-container {
      flex-direction: column; /* Stack elements vertically */
      align-items: center;
    }
    .delete-selected {
      margin-right: 0; /* Remove right margin */
    }
    .pagination {
      padding: 0;
      margin-top: 10px;
    }
    .pagination button {
      width: 40px;
      height: 40px;
      font-size: 16px;
    }
  }