.search-bar {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
    /* min-width: 100%; */

    @media (max-width: 768px) {
        width: 100vw; /* Adjust the width for smaller screens */
      }

}

.search-container {
    margin-top: 20px;
    padding: 20px 20px 0px;
}

