table {
  border-collapse: collapse;
  width: 100%;
  padding: 10px;
  margin: 20px;
}

.checkbox{
  width: 25px;
  height: 25px;
}

th,
td {
  border: none;
  padding: 8px;
  text-align: left;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #f2f2f2;
}

.icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.selected-row {
  background-color: #f0f0f0;
}

@media (max-width: 600px) {
  table {
    margin: 10px;
  }
}
